.centered-text{
    padding: 20px;
    text-align:center;
}

.centered-div{
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

#file_list_table{
    margin-left:auto;
    margin-right:auto;
    width:600px;
}