.centered-text{
    padding: 20px;
    text-align:center;
}

.centered-div{
    margin-left:auto;
    margin-right:auto;
    width:60%;
}

#file_list_table{
    margin-left:auto;
    margin-right:auto;
    width:600px;
}

.btn_link, .btn_link:hover, btn_link:active, .btn_link:visited{
    text-decoration : none;
}