body{
    background-color:#dddddd;
}

#body-container{
   background-color:white;
    vertical-align:top;
    width:800px;
    height:1000px;
    display:inline-block;
}

.centered-text{
    padding: 20px;
    text-align:center;
}

.centered-div{
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

form{
    margin-left:auto;
    margin-right:auto;
    width:40%;
    position:relative;
}

#notification-section{
    vertical-align:top;
    width:600px;
    height:1000px;
    display:inline-block;
    padding:5px;
}

.notification{
    background-color:#3691d1;
    color:white;
    border-radius:5px;
    padding:5px;
}